img{
    width: 19rem !important;
}

h1{
   
    color: white;
    font-weight: bold;
}

.card:hover
{
    transform: scale(0.9);
    transition: ease-in-out 1.5s;
}
.btn:hover{
    transform: scale(1.3);
    transition: ease-in-out 1.5s;
}
