<section class="showcase text-center">
    <div class="container">
        <div class="showcase-content">
            <h2 class="text-white pb-2"><strong>Making communication easier</strong>
                
            </h2><hr>
            <h4 class="text-white pb-3"><strong>Closer to people</strong> </h4>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis vitae dolor impedit a dolorem delectus quae nisi dicta laboriosam et adipisci eaque corrupti soluta, <br> voluptate modi obcaecati cumque ipsam?</p>
            <a href="" class="btn btn-light">Order Now?</a>
            
        </div>
    </div>
</section>
<h3 class="text-center mt-4"><strong>Our Team</strong> </h3>
<div class="container"><hr></div> 
<section class="quote my-5">
<div class="container text-center">
    <div class="row">
        <div class="col-md-4 col-sm-12">  
    <img src="../../assets/img/1.jpg"   alt="" srcset="">
        <blockquote class="blockquote d-flex justify-content-center">
     
        <p class=" "><strong>Lorem ipsum</strong> <br>  sit amet, consectetur adipiscing elit.<br> Integer posuere erat a ante.</p>
      </blockquote></div>
        <div class="col-md-4 col-sm-12">
            <img src="../../assets/img/3.jpg"   alt="" srcset="">
        <blockquote class="blockquote d-flex justify-content-center">
     
        <p class=" "><strong>Lorem ipsum</strong> <br> dolor sit amet, consectetur adipiscing elit.<br> Integer posuere erat a ante.</p>
      </blockquote>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="../../assets/img/2.jpg"   alt="" srcset="">
        <blockquote class="blockquote d-flex justify-content-center">
     
        <p class=" "><strong>Lorem ipsum</strong> <br>dolor sit amet, consectetur adipiscing elit.<br> Integer posuere erat a ante.</p>
      </blockquote>
        </div>
    
</div>
</div>
</section>

<section class="carsoul mb-3">
    <div class="container">
        <div class="row">
            <div class="ss"></div>
            <div class="col-lg-6 col-sm-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../assets/img/11.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/img/5.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/img/6.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div><div class="col-lg-6 col-sm-12">
                <p class="mt-5" >ipsum dolor sit amet consectetur adipisicing elit. Fugiat adipisci vero, repudiandae animi dignissimos hic quaerat officiis nesciunt recusandae voluptatum ab tenetur cumque excepturi, reiciendis facere eius doloribus iusto consequatur!</p>
                <a href="">Find out more <i class="fas fa-arrow-alt-circle-right    "></i> </a>
            </div>
        </div>
    </div>
</section>